<style>
    .date-picker-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5%;
        padding: 20px;
        background-color: #f9f9f9;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        width: 60%;
        margin-left: auto;
        margin-right: auto;
    }

    .date-picker-header {
        text-align: center;
        font-family: Arial, sans-serif;
        color: #333;
        margin-bottom: 20px;
    }
</style>
<!-- <div class="date-picker-container">
    <h1 class="date-picker-header">
        Angular Material Date Picker Example
    </h1>
    <app-angular-mat-date-pickers></app-angular-mat-date-pickers>
</div> -->

<div class="date-picker-container">
    <h1 class="date-picker-header">
        Angular Ng Bootstrap Date Picker Example
    </h1>
    <app-angular-ng-bootstrap-date-picker></app-angular-ng-bootstrap-date-picker>
</div>